*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1430px;
    margin: 0px auto;
}
/*HEADER START*/
.hearder-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.hearder-wrapper nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.hearder-wrapper nav .s-btn{
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #0B0D0E;
}
.hearder-wrapper nav .s-btn a{
    text-decoration: none;
    color: inherit;
}
.hearder-wrapper nav .c-btn{
    padding: 5px 20px;
    border-radius: 10px;
    background: #651FFF;
    color: #ffffff;
}
.hearder-wrapper nav .c-btn a{
    text-decoration: none;
    color: inherit;
}

/*HEADER END*/

/*BANNER WRAPPER START*/

.banner{
    padding: 105px 0px;
    background: #EBE5FA;
}
.banner-wrapper>div>div>div>h1>span:nth-child(3) span{
    color: #651FFF;
    line-height: 75px;
}
.banner-wrapper>div>div>div>h1{
    font-size: 56px;
    font-weight: 700;
}
.banner-wrapper>div:nth-child(2){
    padding: 30px 0px;
    color: #5C5F6E;
    font-size: 20px;
    font-weight: 500;
}
.s-btn{
    padding: 10px 40px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #0B0D0E;
}
.s-btn a{
    text-decoration: none;
    color: inherit;
}
.c-btn{
    padding: 10px 35px;
    border-radius: 10px;
    background: #651FFF;
    color: #ffffff;
}
.c-btn a{
    text-decoration: none;
    color: inherit;
}
/*BANNER WRAPPER END*/

/*LIGHTING START*/

.lighting{
    background-color: #ffffff;
}
.lighting .container{
    max-width: 1125px;
    margin: 0px auto;
}
.lighting-wrapper .lighting-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lighting-wrapper>div:nth-child(2)>div>div h2{
    font-size: 48px;
    font-weight: 700;
    color: #0B0D0E;
}
.lighting-wrapper>div:nth-child(2)>div>div p{
    color: #838696;
    font-size: 18px;
    font-weight: 500;
}
.lighting-wrapper>div:nth-child(3)>div>div{
    background: #651FFF;
    border-radius: 15px;
}
.lighting-wrapper>div:nth-child(3)>div>div>div h3{
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}
.lighting-wrapper>div:nth-child(3)>div>div>div p{
    color: #ECECFE;
    font-size: 15px;
    font-weight: 500;
}
.lighting-wrapper>div:nth-child(3)>div>div>div a{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
@media only screen and (max-width: 992px){
    .lighting-img img{
        width: 100%;
     }
}
@media only screen and (max-width: 768px){
    .lighting-img img{
        width: 100%;
     }
}
/*LIGHTING END*/

/*TEAM START*/
.team .container{
    max-width: 1125px;
    margin: 0px auto;
}
.team-wrapper{
    padding: 100px 0px;
}
.team-wrapper div:nth-child(1) h2{
    font-size: 56px;
    font-weight: 700;
}
.team-wrapper div:nth-child(1) h2>span{
    color: #0B0D0E;
}
.team-wrapper div:nth-child(1) h2>span:nth-child(2)>span{
    color: #651FFF;
}
.team-wrapper div:nth-child(1) h2>span:nth-child(3){
    color: #651FFF;
}
.team-wrapper div:nth-child(1) h2>span:nth-child(3)>span{
    color: #0B0D0E;
}
.team-card>div>div:nth-child(1){
    background: #FFF7ED;
    border-radius: 20px;
}
.team-card>div>div:nth-child(2)>div{
    background: #E0F7FA;
    border-radius: 20px;
}
.team-card>div>div:nth-child(1)>div img{
    width: 100%;
}
.team-card>div>div:nth-child(2)>div img{
    width: 100%;
}
/*TEAM END*/